@using Microsoft.CodeAnalysis.CSharp.Syntax
@using Microsoft.Identity.Client
@using UI_MVC._Framework
@using UI_MVC.Models.Database
@using UI_MVC.Services
@model List<UI_MVC.Models.Entities.Person>
@inherits UI_MVC._Framework.BaseRazor<List<UI_MVC.Models.Entities.Person>>;
@inject IHostEnvironment host;
@inject IPeopleRepository repo;
@inject AppPeopleDbContext dbContext;

@{
    Layout = "_Layout_People";
    ViewData["aaa"] = "aa";
    
}

@{
    var name = "hassan";
    var i = 0;
    


}


@section innerRightMenu
{
    <ul>
        @ViewBag.Title
        <br />
        @PageId
        <br />
        @host.EnvironmentName
        <br />
        @ViewData["Title"]
        <br />
        <li>پرونده پرسنلی</li>
        <li>ردیابی افراد</li>
        <li>اطلاعات کاربری</li>
    </ul>
}


<div class="row">
    <h1 class="col-6">
        لیست پرسنل
        @* @(2+2)
        <br/>
        @DateTime.Now *@

    </h1>
    <div class="col-6">
        <a class="btn btn-primary" asp-controller="People" asp-action="Add">جدید</a>
    </div>
</div>


<table class="table table-hover w-100 mt-5">
    <tr>
        <td data-errorMessage="خطا">شناسه</td>
        <td>نام</td>
        <td>نام خانوادگی</td>
        <td>موبایل</td>
        <td>شهر</td>
        <td>سن</td>
        <td></td>
    </tr>
    
    @*         <tr class="bg-warn">
            <td>@person.Id</td>
            <td>@person.FirstName</td>
            <td>@person.LastName</td>
            <td>@person.PhoneNumber</td>
            <td>@person.CityName</td>

            @if (@person.CityName.ToLower() == "shiraz")
            {
            <td class="bg-warning warning"></td>
            }
            else
            {
            <td>
                <a asp-controller="People" asp-action="Edit" asp-route-id="@person.Id"
                   class="btn btn-warning">ویرایش</a>

                <form asp-controller="People" asp-action="Delete" method="post">
                    <input type="hidden" name="id" value="@person.Id" />
                    <input type="submit" value="حذف" class="btn btn-danger" />
                </form>
            </td>
            }
        </tr> *@
    

    @* @foreach (var person in @Model) *@
    @* @for (i = 0; i < @Model.Count; i++) *@
    @while (i < Model.Count)
    {
        <partial name="_Record" model="@Model[i]"/>
        
        {
            i++;
        }
        @* <tr class="@(person.CityName.ToLower()=="shiraz" ? "warning":"")">
            <td>@person.Id</td>
            <td>@person.FirstName</td>
            <td>@person.LastName</td>
            <td>@person.PhoneNumber</td>
            <td>@person.CityName</td>
            <td>
                <a asp-controller="People" asp-action="Edit" asp-route-id="@person.Id"
                   class="btn btn-warning">ویرایش</a>

                <form asp-controller="People" asp-action="Delete" method="post">
                    <input type="hidden" name="id" value="@person.Id" />
                    <input type="submit" value="حذف" class="btn btn-danger" />
                </form>

            </td>
        </tr> *@
    }
</table>
